@page
@model awkward.ui.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Welcome</h2>

@Html.DisplayFor(model => model.EntityA.Title)
@Html.DisplayFor(model => model.EntityA.Rating)

<br />

@Html.DisplayFor(model => model.EntityB.Title)
@Html.DisplayFor(model => model.EntityB.Rating)

<hr />

<form method="post">
    <input type="hidden" asp-for="EntityA.Id" />
    <input type="submit" value="Save" class="btn btn-default" />
</form>