@page
@model awkward.ui.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Welcome</h2>

@Html.DisplayFor(model => model.EntityA.Title)
@Html.DisplayFor(model => model.EntityA.Rating)

<br />

@Html.DisplayFor(model => model.EntityB.Title)
@Html.DisplayFor(model => model.EntityB.Rating)

<hr />

<form method="post">
    <input type="hidden" asp-for="EntityA.Id" />
    <input type="hidden" asp-for="EntityA.Title" />
    <input type="hidden" asp-for="EntityA.Description" />
    <input type="hidden" asp-for="EntityA.Content" />
    <input type="hidden" asp-for="EntityA.Created" />
    <input type="hidden" asp-for="EntityA.Rating" />

    <input type="hidden" asp-for="EntityB.Id" />
    <input type="hidden" asp-for="EntityB.Title" />
    <input type="hidden" asp-for="EntityB.Description" />
    <input type="hidden" asp-for="EntityB.Content" />
    <input type="hidden" asp-for="EntityB.Created" />
    <input type="hidden" asp-for="EntityB.Rating" />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>