@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Welcome</h2>

@Html.DisplayFor(model => model.EntityA.Title)
<span>vs</span>
@Html.DisplayFor(model => model.EntityB.Title)

<form method="post">
    <input type="submit" asp-for="EntityA" />
    <input type="submit" asp-for="EntityB" />
</form>